.page-header {
    vertical-align: middle;
    margin: auto;
    padding: 15px;
}
.my-search-form {
    padding: 15px;
}

.checkbox-group {
    padding: 25px 15px 25px 10px;
    margin-bottom: 0;
}

#results {
    margin-bottom: 30px;
}

.results-list-item {
    font-size: 20px;
}

#subresult {
    padding: 15px;
}

#subresult-name {
    font-weight: bold;
}
